/* add fonts */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hind-madurai {
    font-family: "Hind Madurai", sans-serif;
    font-style: normal;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}
:root {
    --font-heading: "Hind Madurai", sans-serif;
    --font-body: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-body);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}
.mlr-60 {
    margin: 0 60px;
}
/* heading style start */
.heading-container {
    padding: 25px 0;
}
.logo {
    h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        margin-left: 10px;
    }
}
.count-number {
    padding: 12px 35px;
    border-radius: 50px;
    background: rgba(65, 255, 107, 0.1);
    span {
        font-size: 16px;
        font-weight: 900;
        color: #000;
    }
}
.copy-count {
    font-size: 16px;
    font-weight: 600;
    background: #00a63e;
    border-radius: 50px;
    color: #fff;
    padding: 14px 36px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* hero style start */
.hero-container {
    padding: 20px 0;
    background: linear-gradient(90deg, #013223 0%, #006747 49.99%, #013223 100%);
    h1 {
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        margin: 15px 0 5px;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        color: #fff;
    }
}

/* service style start */
.service-item {
    background: #fff;
    padding: 32px;
    /* max-width: 436px; */
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    h3 {
        font-size: 24px;
        font-weight: 700;
        color: #111;
        margin-top: 12px;
    }
    h2 {
        font-weight: 700;
        font-size: 32px;
        color: #111;
        margin-top: 15px;
    }
    span {
        font-weight: 400;
        font-size: 18px;
        color: #5c5c5c;
    }
    .category {
        background: #f2f2f2;
        border-radius: 99px;
        padding: 8px 16px;
    }
}
.service-logo {
    padding: 14px;
    border-radius: 16px;
}
.service-btn-box {
    gap: 8px;
    margin-top: 27px;
    button {
        border-radius: 8px;
        padding: 7px 0;
        cursor: pointer;
        text-align: center;
    }
    .copy-btn {
        border: 1px solid #d4d6d5;
    }
}
.service-conatiner {
    padding: 48px 58px;
}
.service-wrap {
    width: 77.5%;
}
.service-history {
    padding: 24px;
    width: 22.5%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    .clear-btn {
        padding: 14px 36px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
    }
}
#history-container {
    margin-top: 16px;
}
.history-parent {
	display: flex;
    gap: 15px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
	padding: 15px 16px;
	width: 100%;
	border-radius: 8px;
	background: #fafafa;
}
.history-content {
	width: 60%;
    p {
        font-weight: 600;
        font-size: 18px;
        color: #111;
    }
    span {
        font-weight: 400;
        font-size: 18px;
        color: #5c5c5c;
    }
}
.date-time {
    font-weight: 400;
    font-size: 18px;
    color: #111;
}

/* media query  */
@media only screen and (max-width: 1024px) {
    .mlr-60 {
        margin: 0 30px;
    }
    .service-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
    .service-conatiner {
        padding: 48px 30px;
    }
    .hero-container p {
        font-size: 18px;
    }
    .history-parent {
        flex-direction: column;
        align-items: start;
    }
    .history-content {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .mlr-60 {
        margin: 0px 15px;
    }
    .heading-container {
        justify-content: center;
    }
    .service-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .service-wrap {
        width: 100%;
    }
    .service-history {
        width: 100%;
    }
    .service-conatiner {
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .service-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .service-wrap {
        width: 50%;
    }
    .service-history {
        width: 50%;
    }
    .heading-container {
        justify-content: center;
    }
    .hero-container p {
        font-size: 18px;
    } 
}